extends ../include/layout/default.pug

block content
	.container-fluid
		.jumbotron.mt-4
			h1.display-4 Fluid jumbotron
			p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.

