extends ../include/layout/wide.pug

block content
	.profile-user
		.profile-user__img
			img(src="https://via.placeholder.com/1920x400" alt=" ")

		.profile-user__info
			.container-fluid
				h1 John Doe