aside.aside(id="asideNavbar")
	.aside-nav
		nav.list-group
			a.list-group-item.list-group-item-action(href="friends.html")
				i(data-feather="user-check")
				span Друзья
			a.list-group-item.list-group-item-action(href="messages.html")
				i(data-feather="message-square")
				span Сообщения
				span.badge.badge-danger.float-right.mt-1 1
			a.list-group-item.list-group-item-action(href="invitations.html")
				i(data-feather="coffee")
				span Приглашения
			a.list-group-item.list-group-item-action(href="users.html")
				i(data-feather="users")
				span Пользователи
