aside.aside(id="asideNavbar")
	.aside-nav
		nav.list-group
			a.list-group-item.list-group-item-action(href="javascript:void(0)")
				i(data-feather="user-check")
				span Friends
			a.list-group-item.list-group-item-action(href="messages.html")
				i(data-feather="message-square")
				span Messages
			a.list-group-item.list-group-item-action(href="javascript:void(0)")
				i(data-feather="coffee")
				span Invites
			a.list-group-item.list-group-item-action(href="users.html")
				i(data-feather="users")
				span Users
