section#messages.messages
	.messages-dialogs
		ul#dialogs.dialogs-list.list-unstyled
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.

			li.dialog-item.active
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Harvey Specter
				p.dialog-item-msg Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff.
				
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Rachel Zane
				p.dialog-item-msg I was thinking that we could have chicken tonight, sounds good?

			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.

			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.
			
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.
			
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.
			
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.
			
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.
			
			li.dialog-item
				.dialog-item-user
					img(src="http://placeimg.com/400/400/people" alt=" ")
					span.pl-2 Louis Litt
				p.dialog-item-msg You just got LITT up, Mike.s

	.messages-chat
		ul#messageChatList.messages-chat-list.list-unstyled
			li.chat-item.sent
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!
			li.chat-item.replies
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p When you're backed against the wall, break the god damn thing down.
			li.chat-item.replies
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p Excuses don't win championships.
			li.chat-item.sent
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p Oh yeah, did Michael Jordan tell you that? No, I told him that. When you're backed against the wall, break the god damn thing down. What are you talking about? You do what they say or they shoot you. Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.
			li.chat-item.replies
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p No, I told him that.
			li.chat-item.replies
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p What are your choices when someone puts a gun to your head?
			li.chat-item.sent
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p What are you talking about? You do what they say or they shoot you.
			li.chat-item.replies
				img(src="http://placeimg.com/400/400/people" alt=" ")
				p Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.
		
		.message-input
			.d-flex.align-items-center.justify-align-between
				.w-100
					textarea#messagesField.form-control(
						type="text"
						placeholder="Ваше сообщение"
					)
				.pl-3
					button#btnMsgSend.btn.btn-info
						i(data-feather="send")
