::selection {
 	background: rgba($black, .4);
	color: $white;
}

html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	min-height: 100%;
}

/* 		Bootstrap 	*/

.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, 
.breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip {
	font-size: $input-btn-font-size;
	line-height: $input-btn-line-height;
	font-weight: $btn-font-weight;
}

.nav-tabs .nav-link {
	padding: 1rem;
}

.custom-control {
	padding-left: 2rem;
}
.custom-control-label {
	&::before,
	&::after {
		top: .3rem;
		left: -2rem;
		width: 1.6rem;
    	height: 1.6rem;
	}
}

.card {
	&--auth {
		.nav-tabs {
			.nav-link {
				color: $white;
				background-color: rgba($dark, 0);

				&.active {
					background-color: rgba($dark, .6);
				}
			}
		}
	}
}

.modal {
	

	&-gallery {

		.modal-dialog {
			margin: auto;
			max-width: 100%;
			min-height: 100%;
		}
		.modal-content {
			max-height: none;
			background: none;
			border: none;
		}
		.modal-body {
			padding: 0;
		}
		.carousel {
			height: 100%;

			&-inner {
				height: 100%;
			}
			&-item {
				height: 100%;
				text-align: center;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				img {
					width: auto;
					height: auto;
					max-height: 100%;
					flex: 0;
				}
			}
			
			&-control-next,
			&-control-prev {
				.feather {
					width: 5rem;
					height: 5rem;
				}
			}
			&-control-prev {
				background: linear-gradient(to right, rgba($black, .4) 0%, rgba($black, 0) 100%);
			}
			&-control-next {
				background: linear-gradient(to right, rgba($black, 0) 0%, rgba($black, .4) 100%);
			}
		}
		.close {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 1rem;
			padding: 2rem;

			.feather {
				width: 5rem;
    			height: 5rem;
			}
		}
	}
}

/* 		Icons 	*/

.feather {
	width: $size-icons;
	height: $size-icons;
	stroke: currentColor;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;

	&-filled {
		fill: currentColor;
	}
	&-lg {
		width: 4rem;
		height: 4rem;
	}
}

/* 		Application 	*/

.absoute-top {
	top: 0;
}
.absoute-bottom {
	bottom: 0;
}

.image-footer-abs {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: ($card-spacer-x * 2) $card-spacer-x $card-spacer-x;
	background: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, .1) 60%, rgba($black, .3) 100%);
	height: $image-footer-abs-height;

	&.m-abs-md {
		@include media-breakpoint-down(sm) {
			position: relative;
			padding: 0;
			margin: 0 0 $card-spacer-x;
			background: none;
			height: auto;
		}
	}
}

.bg-main {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: #110a17;

	img {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
		opacity: .3;
		filter: blur(8px);
	}
}

.header {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index: 7;
	height: $header-height;

	@include media-breakpoint-down(md) {
		height: $header-height-md;
	}

	.navbar-toggler {
		border: none;
	}
	.navbar {
		min-height: 100%;

		.nav-link {
			font-size: 1.4rem;

			@include media-breakpoint-up(lg) {
				padding-right: 1.5rem;
    			padding-left: 1.5rem;
			}
			@include media-breakpoint-down(md) {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				text-align: center;
			}
		}
		.dropdown-menu {
			.dropdown-item {
				font-size: 1.4rem;
				padding-top: .7rem;
				padding-bottom: .7rem;

				@include media-breakpoint-down(md) {
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
				}
			}
		}
	}
	.navbar-nav {
		.dropdown-menu {
			margin-top: 0;
		}
	}
}

.aside {
	position: fixed;
	top: $header-height;
    left: 0;
	bottom: 0;
	width: $aside-width;
	background: $white;
    z-index: 6;
	margin-left: 0;
	transition: margin .2s ease;

	@include media-breakpoint-down(md) {
		top: $header-height-md;
		margin-left: -$aside-width;
		max-width: 100%;
	}

	&.active {
		@include media-breakpoint-down(md) {
			margin-left: 0;
		}
	}

	& > * {
		padding: ($grid-gutter-width / 2);
	}

	&-nav {

		.list-group {

			&-item-action {
				font-weight: 300;
				padding: 1.5rem;
				
				&.active {
					.feather {
						color: inherit;
					}
				}
				.feather {
					color: $primary;
					width: 2.5rem;
					height: 2.5rem;
					margin-right: 1.5rem;
				}
			}
		}
	}
}

.page {
	min-height: 100vh;
    height: auto;
	padding-bottom: $foter-height;
	padding-top: $header-height;
	margin-left: $aside-width;

	@include media-breakpoint-down(md) {
		padding-top: $header-height-md;
		margin-left: 0;
	}

	&--without-header {
		margin-left: 0;

		.main {
			height: calc(100vh - 4rem);
		}
		& ~ .footer {
			color: $white;
		}
		.card {
			background-color: rgba($card-bg, .2);
			border: .1rem solid rgba($card-border-color, 0.4);
			color: $white;
		}
	}
}

.main {
	height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $foter-height;
	padding: 1rem 0;

	p {
		margin: 0;
	}
}

.card-media {
	.card-title {
		height: calc(#{$h5-font-size} * 2 * #{$headings-line-height});
		overflow: hidden;
	}
	.card-img {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
	}
}

.user-similarity {
	.progress {
		height: .7rem;
	}
}
